# General patterns
auto/
*.log
*.out
*.run.xml
*.bcf
*.blg
*.aux
*.bbl
*.fls
*_latexmk
*.bak
.Rproj.user
.$*$
.Rhistory
.RData

# Doc generated
/doc/_bookdown_files
/doc/libs/
lib/cmdstan-*
stan/tests/build/
