# General patterns
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.fls
*.knit.md
*.log
*.out
*.run.xml
*.utf8.md
*_cache
*_files
*_latexmk
.$*$
.RData
.Rhistory
.Rproj.user
__pycache__
auto/

# Doc generated
/doc/*.rds
/doc/_bookdown_files
/doc/bookdown*
/doc/libs/
/lib/cmdstan-*
/tests/build/
